<aside class="mt-5">
			Seitenleiste:<br>
	Useraname: <input type="text"  class="form-control" /><br>
	Passwort: <input type="text" class="form-control" /><br>
	<a href="#">Login</a>
	<hr>
	<input type="text" id="sucheTextFeld" class="form-control"  [(ngModel)]="suchwort" />&nbsp;
	<a id="sucheBtn" class="btn btn-primary mt-2" href="#" routerLink='/' [queryParams]="{ suchWort: suchwort}">Suchen</a>
	<hr>
	<a href="monatsliste.html">November 2017 (3)</a><br>
	<a href="monatsliste.html">Dezember 2017 (1)</a><br>
	<a href="monatsliste.html">März 2018 (2)</a><br>
	<a href="monatsliste.html">April 2018 (1)</a><br>
	<hr>
	Tagcloud: [Semantik] [<a href="tagliste.html">HTML5</a>] [Element] [Dokument] [HTTP]
	<hr>
</aside>
