<h2>Neuer Artikel</h2>
<form action="#" method="post" (submit)="dosubmit(article)">
    <label for="ueberschrift">Überschrift:
        <input class="form-control" id="ueberschrift" name="ueberschrift" type="text"
            [(ngModel)]="article.ueberschrift">
    </label><br>
    <label for="autor">Autor:
        <input class="form-control" id="autor" name="autor" type="text" [(ngModel)]="article.autor">
    </label><br>
    <label for="datum">Datum:
        <input class="form-control" id="datum" name="datum" type="date" [(ngModel)]="article.datum">
    </label><br>
    <label for="anriss">Anrisstext:
        <textarea class="form-control" id="anriss" name="anriss" cols="60" rows="5"
            [(ngModel)]="article.anriss"></textarea>
    </label><br>
    <label for="text">Artikeltext:
        <textarea class="form-control" id="text" name="text" cols="60" rows="10"
            [(ngModel)]="article.text"></textarea>
    </label><br>
    <label for="tags">Tags (kommagetrennt):
        <input class="form-control" id="tags" name="tags" type="text" [(ngModel)]="article.tags">
    </label><br>
    <label for="bild">Bild:
        <input class="form-control" id="bild" name="bild" type="text" [(ngModel)]="article.bild">
    </label><br>
    <input class="btn btn-primary mr-1" type="submit" value="Save">
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>